#quizselect-page {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: .25em;
    width: 100%;
    height: max-content;
}


/******************************************************/
/* PAGE TITLE */
#quizselect-page .quizselect-title {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
}

#quizselect-page .quizselect-title > .name {
    padding: .5em .5em .2em;
    color: var(--btn-color);
    opacity: .9;
    font-weight: 500;
}

#quizselect-page .quizselect-title > .name > span {
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 600;
}


/******************************************************/
/* RECENT */
#quizselect-page .recent {
    display: flex;
    flex-direction: column;
    padding-left: .5em;
}

#quizselect-page .recent .recent-title {
    font: 500 1.05em var(--font-one);
    color: var(--btn-color);
}

#quizselect-page .recent .recent-list {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

#quizselect-page .recent .recent-list .link {
    display: flex;
    justify-content: space-between;
    color: var(--b-color);
    font: 600 .8em var(--font-one);
    padding: .2em;
    border-radius: .2em;
    width: 7em;
}

#quizselect-page .recent .recent-list .link .icon {
    display: none;
}

#quizselect-page .recent .recent-list .link:hover {
    background: var(--main-color);
    color: var(--text-color);
}

#quizselect-page .recent .recent-list .link:hover .icon {
    display: flex;
}


/******************************************************/
/* MAIN SECTION */
#quizselect-page .courses {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    gap: .5em;
}


/* TITLE */
#quizselect-page .courses .courses-title {
    font: 600 1.3em var(--font-one);
    color: var(--btn-color);
}

#quizselect-page .courses .select {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

#quizselect-page .courses .select .select-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8em;
    height: 2em;
    padding: .25em;
    gap: 1em;
    border-radius: .25em;
    box-shadow: var(--shadow-btn);
}

#quizselect-page .courses .select .select-title:focus {
    box-shadow: var(--shadow-one);
}

#quizselect-page .courses .select .select-title .name {
    color: var(--b-color);
    font: 600 1.2em var(--font-one);
}

#quizselect-page .courses .select .select-title .icon,
#quizselect-page .courses .select .select-title .icon-2 {
    color: var(--b-color);
    font-size: 1.3em;
}

#quizselect-page .courses .select .select-title .icon-2,
#quizselect-page .courses .select .select-title:focus .icon {
    display: none;
}

#quizselect-page .courses .select .select-title:focus .icon-2,
#quizselect-page .courses .select .select-title .icon {
    display: flex;
}

/* LIST */
/********************************************************************/
#quizselect-page .courses .select .lists {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-left: 1.5em;
}

#quizselect-page .courses .select .lists .item {
    position: relative;
    z-index: 1;
    width: max-content;
    display: flex;
    justify-content: start;
    align-items: baseline;
    flex-wrap: normal;
    gap: .5em;
    border: none;
    background: none;
    cursor: pointer;
    min-height: 1.5em;
}

#quizselect-page .courses .select .lists .item .index {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-width: 5em;
    height: 100%;
    min-height: 2em;
    opacity: 0;
    cursor: pointer;
}

#quizselect-page .courses .select .lists .item .option {
    width: max-content;
    font: 600 1em var(--font-one);
    color: var(--b-color);
    padding: .25em;
    background: none !important;
}

#quizselect-page .courses .select .lists .item .radio-diy {
    width: .7em !important;
    height: .7em !important;
    border: 2px solid var(--b-color);
    border-radius: 50% !important;
    background: #fff
}

#quizselect-page .courses .select .lists .item .index:focus ~ .option,
#quizselect-page .courses .select .lists .item .index:focus ~ .radio-diy {
    color: var(--btn-active);
    background: var(--btn-active);
    border: none;
    transition: .25s color;
}



/********************************************************************/
/* BUTTON */
/* #quizselect-page .courses .btn{
    display: flex;
    width: max-content;
    justify-content: start;
    outline: none;
    border: none;
    background: none;
    box-shadow: var(--shadow-btn);
}

#quizselect-page .courses .btn .icon {
    font-size: 2.5em;
    color: var(--btn-color);
    margin-left: 1em;
    transform: rotateZ(90deg);
}

#quizselect-page .courses .btn .icon:hover {
    color: var(--btn-hover);
}

#quizselect-page .courses .btn .icon:active {
    color: var(--btn-active);
} */