{% load static %} 
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<div id="footer-page">
    <div class='foot'>
        <span>Support</span>
        <div class='foot-links'>
            <a href="#" class='link'>
                <i class="ri-contacts-line icon"></i>
                <span>Contact Us</span>
            </a>
            <a href="#" class='link'>
                <i class="ri-shield-check-line icon"></i>
                <span>Privacy Policy</span>
            </a>
            <a href="#" class='link'>
                <i class="ri-question-line icon"></i>
                <span>FAQ</span>
            </a>
        </div>
    </div>
    
    <div class='foot'>
        <span>Quick Links</span>
        <div class='foot-links'>
            <a href="#" class='link'>
                <i class="ri-login-box-line icon"></i>
                <span>Sign In</span>
            </a>
            <a href="#" class='link'>
                <i class="ri-logout-box-line icon"></i>
                <span>Sign Out</span>
            </a>
            <a href="#" class='link'>
                <i class="ri-file-paper-2-line icon"></i>
                <span>Terms & Condition</span>
            </a>
        </div>
    </div>

    <div class='foot'>
        <span>Contact Info</span>
        <div>
            <div class='contact-info'>
                <span>
                    <i class="ri-mail-fill icon"></i>
                    <span>Email:</span>
                </span>
                <a href='#'>mikeychocho@gmail.com</a>
            </div>
            <div class='contact-info'>
                <span>
                    <i class="ri-phone-fill icon"></i>
                    <span>Phone:</span>
                </span>
                <a href='#'>+234 903 910 8667</a>
            </div>
        </div>
        <div class='social-media-icons'>
            <a href='#'>
                <i class="ri-facebook-fill icon"></i>
            </a>
            <a href='#'>
                <i class="ri-whatsapp-fill icon"></i>
            </a>
            <a href='#'>
                <i class="ri-instagram-fill icon"></i>
            </a>
            <a href='#'>
                <i class="ri-twitter-fill icon"></i>
            </a>
            <a href='#'>
                <i class="ri-github-fill icon"></i>
            </a>
        </div>
    </div>

    <div class='foot'>
        <div>
            <input placeholder='Email' />
            <a href="#" class='link'>Suscribe to our Newsletter</a>
        </div>
        <div>
            <span>Customer Service</span>
            <a href="#" class='link'>Need Assistance?</a>
        </div>
    </div>
</div>
