{% extends 'quiz/main.html' %} 
{% load static %}

{% block content %} 
    <form method="POST" action="{% url 'quizselect' %}" id="quizselect-page">
        {% csrf_token %}
        <div class="quizselect-title">
            <h2 class="name"><span>Select Quiz Course ... </span>to get started</h2>
        </div>
        <div class="recent">
            <span class="recent-title">Recent...</span>
            <div class="recent-list">
                <a href="#!" class="link">
                    <span>MTS 102</span>
                    <i class="ri-arrow-right-s-line icon"></i>
                </a>
                <a href="#!" class="link">
                    <span>GNS 106</span>
                    <i class="ri-arrow-right-s-line icon"></i>
                </a>
                <a href="#!" class="link">
                    <span>CSC 102</span>
                    <i class="ri-arrow-right-s-line icon"></i>
                </a>
            </div>
        </div>

        <div class="courses">
            <span class="courses-title">All Courses</span>
            <div class="select">
                <!-- My Level select -->
                <div class="input-group mb-3" style="width: 20%;">
                    <select data-url="." class="custom-select levels-select" id="inputGroupSelect01">
                      <option disabled selected>LEVEL</option>
                      {% for l in levels %}
                      <option value="{{l.name}}">{{l.name}}L</option>
                      {% endfor %}
                    </select>
                </div>

                <!-- My Courses select -->
                <div class="input-group mb-3 courses-list" style="width: 20%;">
                    
                </div>
               
            </div>
            
        </div>
    </form>

{% endblock %}

{% block js %}
    <script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}
