{% extends 'quiz/main.html' %} 
{% load static %} 

{% block content %} 
    <div id="quiz-page">

        <!-- <div>{{score}}</div> -->
        {% for q in questions %}
        <div class="quiz-title">
            <h2 class="name">Quiz</h2>
            <h3 class="type">
                <span class="level">{{q.course.level.name}}l</span> > <span class="course">{{q.course.name}}</span>
            </h3>
        </div>

        <div class="quiz">            
            <form class="main-quiz" method="POST">
                {% csrf_token %}
                <div class="question">
                    <span class="name" id="question">{{page_obj.number}}. {{q.question}}</span>
                </div>
                <ul class="options">
                    <li class="option-btn">
                        <input type="radio" name="option" id="option-a" value="a" class="index">
                        <label class="option" for="option-a">A. {{q.optionA}}</label>
                    </li>
                    <li class="option-btn">
                        <input type="radio" name="option" id="option-a" value="b" class="index">
                        <label class="option" for="option-b">B. {{q.optionB}}</label>
                    </li>
                    <li class="option-btn">
                        <input type="radio" name="option" id="option-a" value="c" class="index">
                        <label class="option" for="option-c">C. {{q.optionC}}</label>
                    </li>
                    <li class="option-btn">
                        <input type="radio" name="option" id="option-a" value="d" class="index">
                        <label class="option" for="option-d">D. {{q.optionD}}</label>
                    </li>
                    <div id="score"></div>
                </ul>
                {% if is_paginated %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary next-btn">Next</a>
                    {% endif %}
                {% endif %}
                
                <button type="submit" class="next-btn" id="submit-btn">SUBMIT</button>
                
            </form>


            <div class="workings">
                <a href="#!" class="link" id="working-link">View workings</a>
                <div class="main-working" id="main-working">
                    <a href="#!" class="link">...by CHOCHO</a>
                    <h3>Workings: </h3>
                    <p class="name">
                        {{info.workings}}
                    </p>
                </div>
            </div>

            <ul class="quiz-nav">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <li class="quiz-btn prev-btn">
                            <a href="?page={{page_obj.previous_page_number}}">&laquo;</i></a>
                        </li>
                    {% else %}
                        <li class="quiz-btn prev-btn disabled">
                            <a href="#!">&laquo;</i></a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="quiz-btn {% if num == num %}current{% endif %}">
                                <a href="?page={{num}}" class="name">{{num}}</a>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="quiz-btn">
                                <a href="?page={{num}}" class="name">{{num}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="quiz-btn skip-btn">
                            <a href="?page={{page_obj.next_page_number}}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="quiz-btn skip-btn disabled">
                            <a href="#!">&raquo;</i></a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% endfor %}
        </div>
    </div>

    <script>
        let workingLink = document.getElementById('working-link')
        let working = document.getElementById('main-working')

        workingLink.addEventListener('click', function(){
            working.classList.toggle('main-working-show')
            workingLink.classList.toggle('link-active')
        })

        // let database = [
        //     {
        //         question: '5log 10 + 10log 10 is a factor of 50, find the other factor.',
        //         options: {
        //             a: '5',
        //             b: '10',
        //             c: '50',
        //             d: '15'
        //         },
        //         answer: 'b'
        //     },
        //     {
        //         question: 'What is the range of the following numbers {2, 4, 3, 2, 6, 5, 9, 0}',
        //         options: {
        //             a: '5',
        //             b: '10',
        //             c: '0',
        //             d: '9'
        //         },
        //         answer: 'd'
        //     },
        //     {
        //         question: 'Find the median of the following set of numbers {2, 4, 3, 2, 6, 5, 9, 0, 1}',
        //         options: {
        //             a: '5',
        //             b: '0',
        //             c: '4',
        //             d: '6'
        //         },
        //         answer: 'c'
        //     },
        //     {
        //         question: 'If s = at + ½at², make a the subject of formula ',
        //         options: {
        //             a: 'a = s/(t² - at²)',
        //             b: 'a = s/(t² + ½at²)',
        //             c: 'a = s/(t + ½t²)',
        //             d: 'a = s/(t + ½at)'
        //         },
        //         answer: 'c'
        //     },
        //     {
        //         question: 'A cuboid of width, length and height of 4cm, 5cm and 4cm respectively has a volume of .............',
        //         options: {
        //             a: '50',
        //             b: '80',
        //             c: '100',
        //             d: '15'
        //         },
        //         answer: 'b'
        //     }
        // ]

        // let question = document.getElementById('question')
        // let index = document.getElementById('index')

        // let optA = document.getElementById('option-a')
        // let optB = document.getElementById('option-b')
        // let optC = document.getElementById('option-c')
        // let optD = document.getElementById('option-d')

        // let nextBtn = document.getElementById('next-btn')

        
        // for (let i = 0; i <= database.length; i++){
        //     question.innerHTML = database[i].question
        //     index.innerHTML = String(i + 1)

        //     optA.innerHTML = database[i].options.a
        //     optB.innerHTML = database[i].options.b
        //     optC.innerHTML = database[i].options.c
        //     optD.innerHTML = database[i].options.d

        // }
        
        // nextBtn.addEventListener('click', function(){
        //     i + 1
        // })

        // function nextQuestion() {
        //     i + 1;
        //     console.log('works!!!')
        //     console.log('i', i)
        // }

    </script>
{% endblock %}