{% extends 'quiz/main.html' %} 
{% load static %} 

{% block content %} 
    <div id="quiz-page">

        <!-- <div>{{score}}</div> -->
        {% for q in questions %}
        <div class="quiz-title">
            <h2 class="name">Quiz</h2>
            <h3 class="type">
                <span class="level">{{q.course.level.name}}l</span> > <span class="course">{{q.course.name}}</span>
            </h3>
        </div>

        <div class="quiz">            
            <form class="main-quiz" data-url="." id="option-value-form" action="?page={{ page_obj.next_page_number }}" method="POST">
                {% csrf_token %}
                <div class="question">
                    <span class="name" id="question">{{page_obj.number}}. {{q.question}}</span>
                </div>
                <ul class="options">
                    <li class="option-btn">
                        <input type="radio" name="option" id="option-a" value="a" class="index">
                        <label class="option" for="option-a">A. {{q.optionA}}</label>
                    </li>
                    <li class="option-btn">
                        <input type="radio" name="option" id="option-a" value="b" class="index">
                        <label class="option" for="option-b">B. {{q.optionB}}</label>
                    </li>
                    <li class="option-btn">
                        <input type="radio" name="option" id="option-a" value="c" class="index">
                        <label class="option" for="option-c">C. {{q.optionC}}</label>
                    </li>
                    <li class="option-btn">
                        <input type="radio" name="option" id="option-a" value="d" class="index">
                        <label class="option" for="option-d">D. {{q.optionD}}</label>
                    </li>
                    <div id="score">Score: {{score}}</div>
                </ul>
                {% if is_paginated %}
                    {% if page_obj.has_next %}
                        <button type="submit" class="btn btn-primary option-next-button" id="submit-btn">NEXT</button>
                    
                        <a id="option-next-button" href="#" class="btn btn-primary next-btn">Next</a>
                    {% else %}
                        <button type="submit" class="next-btn" id="submit-btn">SUBMIT</button>
                    {% endif %}
                {% endif %}                
            </form>


            <div class="workings">
                <a href="#!" class="link" id="working-link">View workings</a>
                <div class="main-working" id="main-working">
                    <a href="#!" class="link">...by CHOCHO</a>
                    <h3>Workings: </h3>
                    <p class="name">
                        {{info.workings}}
                    </p>
                </div>
            </div>

            <ul class="quiz-nav">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <li class="quiz-btn prev-btn">
                            <a href="?page={{page_obj.previous_page_number}}">&laquo;</i></a>
                        </li>
                    {% else %}
                        <li class="quiz-btn prev-btn disabled">
                            <a href="#!">&laquo;</i></a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="quiz-btn {% if num == num %}current{% endif %}">
                                <a href="?page={{num}}" class="name">{{num}}</a>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="quiz-btn">
                                <a href="?page={{num}}" class="name">{{num}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="quiz-btn skip-btn">
                            <a href="?page={{page_obj.next_page_number}}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="quiz-btn skip-btn disabled">
                            <a href="#!">&raquo;</i></a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}

{% block js %}
    <script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}